
@{
    Layout = null;
}

<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="~/css-table-12/fonts/icomoon/style.css">

    <link rel="stylesheet" href="~/css-table-12/css/owl.carousel.min.css">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="~/css-table-12/css/bootstrap.min.css">

    <!-- Style -->
    <link rel="stylesheet" href="~/css-table-12/css/style.css">

    <title>Home</title>
</head>
<body>
    <div class="content">

        <div class="container">
            <h2 class="mb-5">My Accounts</h2>

            <div class="table-responsive">
                <button class="btn-dark" id="createAccount">+ Create And Store An Account</button>
                <br />
                <table class="table custom-table">
                    <thead>
                        <tr>
                            <th scope="col">Site Id</th>
                            <th scope="col">Site Name</th>
                            <th scope="col">Username</th>
                            <th scope="col">Password</th>
                            <th scope="col">Edit Account</th>
                            <th scope="col">Delete Account</th>
                        </tr>
                    </thead>
                    <tbody>

                    </tbody>
                </table>
            </div>


        </div>

    </div>



    <script src="~/css-table-12/js/jquery-3.3.1.min.js"></script>
    <script src="~/css-table-12/js/popper.min.js"></script>
    <script src="~/css-table-12/js/bootstrap.min.js"></script>
    <script src="~/css-table-12/js/main.js"></script>
    <script>
        function getJwtToken() {
            return document.cookie.split('; ').find(row => row.startsWith('jwt=')).split('=')[1];
        }

        function getAllSiteAccounts() {
            $.ajax({
                url: 'https://localhost:7264/api/SiteAccounts/GetAllSiteAccounts', // Replace with your actual endpoint URL
                type: 'GET',
                headers: {
                    'Authorization': 'Bearer ' + getJwtToken() // Include the JWT token for authentication
                },
                success: function (data) {
                    // Handle the successful response from the API
                    // Loop through the data and append rows to the table
                    var tableBody = $('tbody');
                    tableBody.empty(); // Clear existing rows

                    data.forEach(function (siteAccount) {
                        tableBody.append(`
                                    <tr scope="row">
                                        <td>${siteAccount.siteId}</td>
                                        <td>${siteAccount.siteName}</td>
                                        <td>${siteAccount.username}</td>
                                        <td>${siteAccount.password}</td>
                                        <td><button class="btn-warning" id="editAccount">Edit</button></td>
                                        <td><button class="btn-danger" id="deleteAccount">Delete</button></td>
                                    </tr>
                                `);
                    });
                },
                error: function (xhr, textStatus, errorThrown) {
                    // Handle errors
                    console.error(xhr.responseText);
                }
            });
        }
    </script>
</body>
</html>


